@import url(https://fonts.googleapis.com/css?family=Lora:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400italic,400,700);

/* BASE */
*, *::before, *::after {
    box-sizing: border-box;
		margin: 0;
		padding: 0;
}
html {
/* set up sizing for using REM*/
font-size: 62.5%;
font-family: 'Open Sans', sans-serif;
/* colors */
--color-primary: #5C7F7F;
--color-secondary: #4F5A5E;

--color-bg-color: #EFF6F6;
--color-light: #fff;
--color-text: #333333;
}

body {
box-sizing: border-box;
background-color: var(--color-bg-color);
height: 100vh;
text-align: center;
/* padding-top: 13%; */
display: flex;
flex-direction: column;
/* justify-content: center; */
color: var(--color-secondary);
/* align-items: center; */

position: relative;
}

h2 {
  font-size: 3rem;
  margin-bottom: 16px;
}

p {
font-size: 2.8rem;
line-height: 149%;
font-weight: 300;

max-width: 320px;
display: inline-block;
margin: 0 auto;
}

li {
  margin-bottom: 16px;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

img {
max-width: 100%;
}

/* UTILITY */

.row {
display: flex;
}

.container {
/* max-width: 1200px;*/
width: 80%;
z-index: 1;
margin: 0 auto;
}
/* HEADER */
.logo {
  width: 170px;
}
header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 32px;
  margin-bottom: 72px;
}


/* GUIDELINES */

.guidelines {
  display: none;

  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
  background-color: var(--color-light);
  max-width: 750px;
  padding: 60px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-size: 1.8rem;
  text-align: left;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.guidelines-link {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0 20px;
  height: 56px;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.guidelines-link:hover {
  color: var(--color-secondary);
  background-color: rgba(129, 169, 169, 0.181);
}

.guidelines-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}

/* .guidelines-link a:hover {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
} */

.guidelines-link svg {
  margin-right: 8px;
}

.modal-body {
  font-size: 2rem;
  text-align: left;
  padding: 40px;
}

.modal-header {
  font-size: 1.6rem;
  padding: 2.4rem;
}

/* GENERATOR */
.plants{
  max-width: 490px;
  height: auto;
}
.generator {
  background-color: var(--color-light);
  min-height: 380px;
  max-width: 650px;
  margin: 0 auto;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 64px;
  position: relative;
}

/* BUTTONS */
.btn {
  font-size: 2rem;
}

.btn-secondary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #699191;
  border-color: #699191;
}

/* Button 2 */

#theButton-2 {
  font-size: 2rem;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 64px;
  border: 0;
  border-radius: 4px;
  border-radius: 0 0 4px 4px;
  background-color: var(--color-secondary);
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#theButton-2:hover {
  cursor: pointer;
  background-color:#617076;
}

#theButton-2:hover svg {
  color: #7BA9A9;
}

#theButton-2 svg {
  margin-right: 10px;
}


.theme {
  font-family: 'Lora', serif;
  display: block;
  color: var(--color-primary);
  text-transform: capitalize;
  margin-top: 16px;
  font-size: 5rem;
  height: 64px;
}

.white-bg {
  position: absolute;
  background-color: var(--color-light);
  width: 100%;
  height: 50%;
  bottom: 0;
}

.random-icon {
  margin: 0 auto;
  background-color: var(--color-light);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.random-icon img {
  margin-top: 12px;
  margin-right: 1px;
}

.random-icon svg {
  margin-top: 12px;
  margin-right: 1px;
}

.cute-dog {
  position: absolute;
  max-width: 165px;
  height: auto;
  bottom: 5%;
  right: 5%;
}


/* MOBILE RESPONSIVE */
@media(max-width: 500px) {
  /* body {
    padding-top: 15%;
    } */
  header {
    padding: 20px;
    margin-bottom: 40px;
  }
  .logo {
    width: 130px;
    margin-top:3px;
  }
  .guidelines-link {
    padding: 0 10px;
    height: 48px;
    font-size: 1.6rem;
  }
  .container {
    width: 90%;
  }
  .nature-img img {
    width: 300px;
  }
  #theButton-2 {
    font-size: 1.6rem;
    margin-top: 32px;
  }
  p {
    font-size: 2.2rem;
    }
    .theme {
     font-size: 3.8rem;
     height: 56px;
    }
    .cute-dog {
      max-width:105px;
      bottom: 16px;
      height: auto;
    }
    .generator {
      padding: 40px 20px;
      min-height: 300px;
    }
}