@import url(https://fonts.googleapis.com/css?family=Lora:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400italic,400,700);

/* BASE */
*, *::before, *::after {
    box-sizing: border-box;
		margin: 0;
		padding: 0;
}
html {
/* set up sizing for using REM*/
font-size: 62.5%;
font-family: 'Open Sans', sans-serif;
/* colors */
--color-primary: #5C7F7F;
--color-secondary: #4F5A5E;

--color-bg-color: #EFF6F6;
--color-light: #fff;
--color-text: #333333;
}

body {
box-sizing: border-box;
background-color: var(--color-bg-color);
height: 100vh;

text-align: center;
font-size: 2rem;
/* padding-top: 13%; */
display: flex;
flex-direction: column;
/* justify-content: center; */
color: var(--color-secondary);
/* align-items: center; */

position: relative;
}

h2 {
  font-size: 3rem;
  margin-bottom: 16px;
}

p {
font-size: 2.8rem;
line-height: 149%;
font-weight: 300;

max-width: 320px;
display: inline-block;
margin: 0 auto;
}

li {
  margin-bottom: 16px;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-secondary);
}

img {
max-width: 100%;
}

/* UTILITY */

.row {
display: flex;
}

.container {
/* max-width: 1200px;*/
width: 80%;
z-index: 1;
margin: 0 auto;
}

/* BUTTONS */
.btn {
  font-size: 2rem;
}

.btn-secondary {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-secondary:hover {
  color: #fff;
  background-color: #699191;
  border-color: #699191;
}

/* Button 2 */

#theButton-2 {
  font-size: 2rem;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 64px;
  border: 0;
  border-radius: 4px;
  border-radius: 0 0 4px 4px;
  background-color: var(--color-secondary);
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#theButton-2:hover {
  cursor: pointer;
  background-color:#617076;
}

#theButton-2:hover svg {
  color: #7BA9A9;
}

#theButton-2 svg {
  margin-right: 10px;
}

.card-style {
  text-align: left;
  background-color: var(--color-light);
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 40px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  
  padding: 32px;
  /* margin-bottom: 72px; */
}

.menu-toggle {
  display: flex;
  align-items: center;
  z-index: 100;
  cursor: pointer;
}

.menu-toggle span {
  margin-right: 5px;
  font-size: 24px;
  margin-top: 2px;
}

.menu-toggle-active {
  color: var(--color-light);
  fill: var(--color-light);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  font-size: 3.2rem;
  text-align: center;
  position: fixed;
  z-index: 99;
  right: 0;
  top:0;
  transform: translateX(100%) ;
  height: 100%;
  width: 400px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transform: translateX(100%) ;
  -moz-transform: translateX(100%) ;
  -ms-transform: translateX(100%) ;
  -o-transform: translateX(100%) ;
}

.menu-show {
  transform: translateX(0%) ;
  -webkit-transform: translateX(0%) ;
  -moz-transform: translateX(0%) ;
  -ms-transform: translateX(0%) ;
  -o-transform: translateX(0%) ;
}

.menu a {
  text-decoration: none;
  color: var(--color-light);
  transition: border .4s ease-in-out;
  -webkit-transition: border .4s ease-in-out;
  -moz-transition: border .4s ease-in-out;
  -ms-transition: border .4s ease-in-out;
  -o-transition: border .4s ease-in-out;
}

.menu a:hover {
  border-bottom: 1px solid var(--color-light);
}

.menu ul {
  list-style: none;
}

.menu button {
  color: var(--color-light);
  border: solid 2px var(--color-light);
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;

  margin-top: 2.4rem;
}

.menu button:hover {
  color: var(--color-light);
  background-color: rgba(255, 255, 255, 0.08);
}

.menu button a:hover {
  border: none;
}

/* GUIDELINES */

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 30px;
}

.guidelines-list {
  
}

.guidelines-link {
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 0 20px;
  height: 56px;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.guidelines-link:hover {
  color: var(--color-secondary);
  background-color: rgba(129, 169, 169, 0.181);
}

.guidelines-link a {
  color: var(--color-primary);
  text-decoration: none;
}


/* GENERATOR */
.plants{
  max-width: 490px;
  height: auto;
}
.generator {
  background-color: var(--color-light);
  min-height: 380px;
  max-width: 650px;
  margin: 0 auto;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 64px;
  position: relative;
}



.theme {
  font-family: 'Lora', serif;
  display: block;
  color: var(--color-primary);
  text-transform: capitalize;
  margin-top: 16px;
  font-size: 5rem;
  height: 64px;
}

.white-bg {
  position: absolute;
  background-color: var(--color-light);
  width: 100%;
  height: 50%;
  bottom: 0;
}

.random-icon {
  margin: 0 auto;
  background-color: var(--color-light);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.random-icon img {
  margin-top: 12px;
  margin-right: 1px;
}

.random-icon svg {
  margin-top: 12px;
  margin-right: 1px;
}

.cute-dog {
  position: fixed;
  max-width: 165px;
  height: auto;
  bottom: 5%;
  right: 5%;
}

/* FOOTER */

footer{
  display: flex;
  justify-content: center;

  padding: 32px 0;
}

.activity-log-link {
  color: var(--color-secondary);
  font-size: 2rem;
  z-index: 2;
}

.activity-log-link ul {
  list-style: none; 
}

/* ACTIVITY LOG */

.activity-log {
  text-align: left;
  background-color: var(--color-light);
  margin-top: -56px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: currentColor;
  font-weight: 400;
  font-size: 1.6rem;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
  margin:50px auto;
  }

/* Zebra striping */
tr:nth-of-type(even) { 
  background: #eee; 
  }

th { 
  background: var(--color-secondary); 
  color: white; 
  font-weight: bold; 
  }

td, th { 
  padding: 10px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-size: 18px;
  }

/* BACK BUTTON */

.back-btn svg {
  margin-right: 8px;
}

.back-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* MOBILE RESPONSIVE */

@media(max-width: 500px) {
  body {
    font-size: 1.6rem;
    }
  header {
    padding: 20px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 2.4rem;
  }
  p {
    font-size: 2.2rem;
    }

    .card-style {
      text-align: left;
      background-color: var(--color-light);
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 20px;
    }

  .menu {
    width: 100%;
  }
  .logo {
    width: 100px;
    margin-top:3px;
  }
  .guidelines-link,
  .due-date {
    padding: 0 10px;
    height: 48px;
  }
  .container {
    width: 90%;
  }
  .nature-img img {
    width: 300px;
  }
  #theButton-2 {
    font-size: 1.6rem;
    margin-top: 32px;
  }

  .theme {
    font-size: 3.8rem;
    height: 56px;
  }
  .cute-dog {
    max-width:105px;
    bottom: 16px;
    height: auto;
  }
  .generator {
    padding: 40px 20px;
    min-height: 300px;
    }
    

    /* ACTIVITY LOG */
    .activity-log {
      text-align: left;
      background-color: var(--color-light);
      margin-top: 5px;
    
      box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 24px;
    }
    .back-btn {
      margin-bottom: 2.4rem;
    }
    /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
    
      table { 
          width: 100%; 
      }
    
      /* Force table to not be like tables anymore */
      table, thead, tbody, th, td, tr { 
        display: block; 
      }
      
      /* Hide table headers (but not display: none;, for accessibility) */
      thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      
      tr { border: 1px solid #ccc; }
      
      td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
      }
    
      td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
    
        color: #000;
        font-weight: bold;
      }
    
    }


}