@import url(https://fonts.googleapis.com/css?family=Lora:400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400italic,400,700);

/* BASE */
*, *::before, *::after {
    box-sizing: border-box;
		margin: 0;
		padding: 0;
}
html {
/* set up sizing for using REM*/
font-size: 62.5%;
/* colors */
--color-primary: #5C7F7F;
--color-secondary: #4F5A5E;

--color-bg-color: #EFF6F6;
--color-light: #fff;
--color-text: #333333;
}

body {
box-sizing: border-box;
background-color: var(--color-bg-color);
height: 100vh;
text-align: center;
padding-top: 13%;
display: flex;
justify-content: center;
color: var(--color-secondary);
/* align-items: center; */
}

p {
font-size: 2.8rem;
line-height: 149%;
font-family: 'Open Sans', sans-serif;
font-weight: 300;

max-width: 320px;
display: inline-block;
margin: 0 auto;
}

img {
max-width: 100%;
}

/* UTILITY */

.row {
display: flex;
}

.container {
/* max-width: 1200px;*/
width: 80%;
z-index: 1;
margin-top: -8%;
}
.plants{
  max-width: 490px;
  height: auto;
}

/* GENERATOR */
.generator {
  background-color: var(--color-light);
  min-height: 380px;
  max-width: 650px;
  margin: 0 auto;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 64px;
  position: relative;
}
/* Button 1 */
#theButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 100%;
  border: 0;
  border-radius: 0 0 4px 4px;
  background: var(--color-secondary);
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
}
#theButton:hover {
  cursor: pointer;
  background-color: #546064;
}
#theButton svg {
  color: var(--color-secondary);
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}

#theButton:hover svg {
  color: #7BA9A9;
}


/* Button 2 */
#theButton-2 {
  font-size: 2rem;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 64px;
  border: 0;
  border-radius: 4px;
  border-radius: 0 0 4px 4px;
  background: var(--color-primary);
  color: #fff;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#theButton-2:hover {
  cursor: pointer;
  background-color: #699191;
}

#theButton-2:hover svg {
  color: #7BA9A9;
}

#theButton-2 svg {
  margin-right: 10px;
}


.theme {
  font-family: 'Lora', serif;
  display: block;
  color: var(--color-secondary);
  text-transform: capitalize;
  margin-top: 16px;
  font-size: 5.5rem;
  height: 64px;
}

.white-bg {
  position: absolute;
  background-color: var(--color-light);
  width: 100%;
  height: 60%;
  bottom: 0;
}

.random-icon {
  margin: 0 auto;
  background-color: var(--color-light);
  height: 48px;
  width: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.random-icon img {
  margin-top: 12px;
  margin-right: 1px;
}

.random-icon svg {
  margin-top: 12px;
  margin-right: 1px;
}

.cute-dog {
  position: absolute;
  max-width: 165px;
  height: auto;
  bottom: 5%;
  right: 5%;
}


/* MOBILE RESPONSIVE */
@media(max-width: 500px) {
  body {
    padding-top: 15%;
    }
  .container {
    width: 90%;
  }
  .nature-img img {
    width: 300px;
  }
  #theButton-2 {
    font-size: 1.6rem;
  }
  p {
    font-size: 2.2rem;
    }
    .theme {
     font-size: 4.3rem;
     height: 56px;
    }
    .cute-dog {
      position: fixed;
      max-width:105px;
      height: auto;
    }
    .generator {
      padding: 64px 20px;
    }
    
}